html, body {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  font-size: 14px;
  color: #333;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/**
 * Hide and show elements if screen PC or SP
 */
@media screen and (min-device-width: $device-min-width) {
  .hidden_sp {
    display: none !important;
  }
}

@media screen and (max-device-width: $device-max-width) {
  .hidden_pc {
    display: none !important;
  }
}

.privacy-modal {
  .modal-header {
    background-color: #00a0e9;
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    color: #fff;
  }
  .modal-body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h3 {
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 20px;
    border-bottom: 2px solid #00a0e9;
  }
}

header.pr-media {
  border-bottom: 2px solid #eee;
  
  .logo-center {
    max-width: 320px;
    margin: auto;

    img {
      width: 100%;
    }
  }
}

footer.pr-media {
  margin-top: -65px;
  padding: 0;
  background-color: #e8f6ff;
  
  .kakaku-tel {
    padding: 15px 0;
    max-width: 700px;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .copyright {
    background: #999;
    color: #FFF;
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica Nue", "メイリオ", "ヒラギノ角ゴ", "Hiragino Kaku Gothic ProN W3", "ＭＳ Ｐゴシック", sans-serif;
  }

  @media screen and (max-device-width: $device-max-width) {
    margin-top: 0;
    padding: 0;
  }
}
