@mixin balloon($bg: #000, $color: #FFF, $size: 100px) {
  color: #FFF;

  position: relative;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  background: $bg;
  border-radius: $size / 2;

  &:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 10px 0;
    border-color: $bg transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -10px;
    bottom: 0px;
    left: 85%;
  }
}

@mixin input_wrap() {
  .input-wrap {
    
    .image-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #f4f4f4;
      box-shadow: 0 4px 0 0 #bbb;
      border: 1px solid #bbb;
      border-radius: 8px;
      transition: all 0.3s;
      cursor: pointer;
      
      @media screen and (max-device-width: $device-max-width) {
        box-shadow: 0 1vw 0 0 #cbcbcb;
      }

      @media screen and (min-device-width: $device-min-width) {
        &:hover {
          transform: translateY(2px);
        }
      } 
      
      > div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    
    .normal {
      visibility: visible;
    }
    .invert {
      visibility: hidden;
    }
    
    input[type=radio] {
      display: none;
    }
    
    input[type=radio]:checked + label {
      background-color: #009fea;
      box-shadow: 0 4px 0 0 #007eb9;
      border: 1px solid #009fea;
      
      .normal {
        visibility: hidden;
      }
      .invert {
        visibility: visible;
      }
      p, i {
        color: #fff;
      }
    }
    
    input[type=text], input[type=tel] {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      background-color: #f4f4f4;
      border: 1px solid #dadada;
      box-sizing: border-box;
      line-height: 1.4;
      
      &:focus {
        outline: none;
        border: 1px solid #a7d8f1;
        background-color: #ebf8ff;
      }
      &::placeholder {
        color: #dadada;
      }
    }
    
    select {
      width: 100%;
      background-color: #f4f4f4;
      border: 1px solid #dadada;
      box-sizing: border-box;
      appearance: none;
      padding: 10px;
      font-size: 16px;
      border-radius: 0;
      line-height: 1.4;
      
      &:focus {
        outline: none;
        border: 1px solid #a7d8f1;
        background-color: #ebf8ff;
      }
    }
    
    .select-arrow {
      position: relative;

      i {
        position: absolute;
        right: 8px;
        top: 50%;
        font-size: 16px;
        margin-top: -8px;
      }
    }
    

    @media screen and (max-device-width: $device-max-width) {
      input[type=text], input[type=tel], select {
        appearance: none;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 5vw;
        line-height: 1.4;
        font-family: system-ui;
      }
    }
  }
}

@mixin input_wrap2() {
  .input-wrap2 {
    
    label {
      display: flex;
      align-items: center;
      font-size: 16px;
      
      > div {
        display: block;
        height: 17px;
        width: 18px;
        border: 1px solid #a7d8f1;
        border-radius: 3px;
        background-color: #ebf8ff;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 15px;
          opacity: 0;
        }
      }
    }
    
    
    input[type=radio], input[type=checkbox] {
      display: none;
    }
    input[type=radio]:checked + label, input[type=checkbox]:checked + label {
      > div img {
        opacity: 1;
      }
    }

    @media screen and (max-device-width: $device-max-width) {
      label {
        font-weight: 700;
        font-size: 3.8vw;

        > div {
          height: 6vw;
          width: 6vw;
          border-radius: 4px;
          margin-right: 1.5vw;
          
          img {
            width: 4vw;
          }
        }
      }
    }
  }
}

@mixin input_error() {
  .input-error {
    label > div, input[type=text], input[type=tel], select {
      border: 1px solid #ff6262;
      background-color: #fff2f2;
      transition: all 0.3s linear;
    }
  }
}

@mixin flex_centred() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute_100() {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin checkbox_match() {
    
  label {
    display: flex;
    align-items: center;
    
    > div {
      display: block;
      height: 17px;
      width: 18px;
      border: 2px solid #ffb500;
      border-radius: 3px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      
      i {
        opacity: 0;
        font-size: 14px;
      }
    }
  }
    
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked + label {
    > div i {
      opacity: 1;
    }
  }

  @media screen and (max-device-width: $device-max-width) {
    label {
      > div {
        height: 5.2vw;
        width: 5.2vw;
        border-radius: 4px;
        
        i {
          font-size: 4vw;
        }
      }
    }
  }
}

@mixin input-match() {
  select {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #dadada;
    box-sizing: border-box;
    appearance: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 0;
    line-height: 1.4;
    
    &:focus {
      outline: none;
      border: 1px solid #a7d8f1;
      background-color: #ebf8ff;
    }
  }
  
  .select-arrow {
    position: relative;

    i {
      position: absolute;
      right: 8px;
      top: 50%;
      font-size: 16px;
      margin-top: -8px;
    }
  }

  @media screen and (max-device-width: $device-max-width) {
    select {
      padding: 0.3em 0.6em;
      font-size: 5vw;
      overflow: hidden;
    }
  }
}

@mixin input-done() {
  select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #2264b4;
    box-sizing: border-box;
    appearance: none;
    padding: 5px 8px;
    font-size: 17px;
    // font-weight: 700;
    border-radius: 4px;
    line-height: 1.4;
    color: #555;
    
    &:focus {
      outline: none;
      border: 1px solid #a7d8f1;
      background-color: #ebf8ff;
    }
  }
  
  .select-arrow {
    position: relative;

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -14px;
      font-size: 2.2em;
      color: #2264b4;
    }
  }

  @media screen and (max-device-width: 999px) {
    select {
      padding: 0.3em 0.6em;
      font-size: 5vw;
      overflow: hidden;
    }
  }
}

@mixin select-iframe-simulation() {
  select, input[type=tel] {
    width: 100%;
    appearance: none;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #28a4e0;
    padding: 1.4vw 2vw;
    font-size: 2.8vw;
    border-radius: 4px;
    line-height: 1.2em;
    color: #444;
    
    &:focus {
      outline: none;
      border: 1px solid #a7d8f1;
      background-color: #ebf8ff;
    }

    &:disabled {
      background-color: #ececec;
    }
  }
  
  .select-arrow {
    position: relative;

    i {
      position: absolute;
      right: 3vw;
      top: 50%;
      margin-top: -2.5vw;
      font-size: 6vw;
      color: #28a4e0;
    }
  }

  @media screen and (max-device-width: 500px) {
    select, input[type=tel] {
      padding: 0.6em 0.8em;
      font-size: 5vw;
      overflow: hidden;
    }
  }
}
