$device-max-width: 500px;
$device-min-width: 501px;
$simulation-color-blue: #28a4e0;
$simulation-color-light-blue: #ccecf9;

.simulation-register-form {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 1.42857143;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-device-width: $device-max-width) {
    // clear: both;
  }
  
  @include input_wrap();
  @include input_wrap2();
  @include input_error();
  
  .form-wrap {
    margin: 0 auto;
    border-radius: 10px;
    
    @media screen and (min-device-width: $device-min-width) {
      padding: 10px 0 0;
      width: 850px;
      border: 2px solid $simulation-color-blue;
    }
  }
  
  .content-title {
    position: relative;
    padding-top: 15px;
    
    p {
      text-align: center;
      color: #ff6262;
      margin: 10px 0;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
    }

    @media screen and (max-device-width: $device-max-width) {
      padding-top: 2vw;

      p {
        font-size: 3vw;
        line-height: 1;
        padding-top: 3%;
        margin-bottom: 5%
      }
    }
  }

  .step-error {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    color: #ff6262;
    line-height: 1;
    box-sizing: border-box;
    transition: opacity 0.3s linear;

    @media screen and (max-device-width: $device-max-width) {
      top: 0;
      box-sizing: border-box;
      font-size: 3.8vw;
      padding: 0;
    }
  }

  .show-error {
    opacity: 1;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 700;
    color: #222;
    padding-right: 10px;
    box-sizing: border-box;

    @media screen and (max-device-width: $device-max-width) {
      padding-right: 4%;
      font-size: 4vw;
    }
  }

  .label-left {
    width: 120px;
  }

  .label-right {
    width: 140px;
  }

  .left-column {
    width: 45%;
  }

  .content-box {
    margin: 20px 0;
    padding: 0 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .house-kind {
      width: 190px;
      height: 40px;
      
      .image-wrap > div {
        padding: 10px 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      
      .image-wrap p {
        padding-left: 35px;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
      }

      .image-wrap .pl-new {
        padding-left: 45px;
      }
    }
    
    @media screen and (max-device-width: $device-max-width) {
      padding: 0;
      margin: 2% 0;

      .house-kind {
        width: 42vw;
        height: 10vw;

        .image-wrap > div {
          padding: 0;
        }

        .image-wrap p {
          padding-left: 10vw;
          left: 0;
          bottom: 6%;
          font-size: 3.8vw;
        }
        .image-wrap img {
          height: 4vw;
          margin-left: 2vw;
        }

        .image-wrap .pl-new {
          padding-left: 12vw;
        }
      }
    }
  }

  .other-kind-wrap {
    margin: 20px;
    text-align: center;

    a {
      font-size: 14px;
      font-weight: 700;
      color: #00a0e9;

      &:hover, &:visited, &:focus {
        color: #00a0e9;
      }
    }

    @media screen and (max-device-width: $device-max-width) {
      margin: 5% 0 0;

      a {
        font-size: 4vw;
      }
    }
  }

  .gas-usage-wrap {
    margin: 15px 0;

    .row-wrap {
      display: flex;
    }

    .input-wrap2 {
      margin: 15px 0;
      display: flex;
      justify-content: center;
    }

    .remove-error {
      margin-right: 20px;
    }

    @media screen and (max-device-width: $device-max-width) {
      margin: 0;

      .input-wrap2 {
        margin: 4% 0;
        flex-direction: column;
      }

      .label {
        justify-content: flex-start;
      }

      .remove-error {
        margin-right: 2vw;
      }
    }    
  }

  .gas-detail-wrap {
    margin: 15px 0;

    .gas-detail-input-wrap {
      padding: 0 20px;
      display: flex;
    }

    .input-wrap {
      display: flex;
    }

    .field-month {
      width: 90px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
    }

    .field-contracted-shop {
      width: 240px;
    }

    @media screen and (max-device-width: $device-max-width) {
      margin: 0;

      .gas-detail-input-wrap {
        padding: 0;
        flex-direction: column;
      }
      .input-wrap {
        flex-direction: column;
        margin-bottom: 4%;
      }

      .label {
        justify-content: flex-start;
      }

      .field-contracted-shop {
        width: 100%;
      }

      .month-left-column {
        flex-direction: row;
      }
    }
  }

  .contact-name-wrap {
    margin: 15px 0;
    padding: 0 20px;
    display: flex;

    .input-wrap {
      display: flex;
    }

    .field-name {
      width: 240px;
    }

    @media screen and (max-device-width: $device-max-width) {
      margin: 0;
      padding: 0;
      flex-direction: column;

      .input-wrap {
        flex-direction: column;
        width: 100%;
        margin-bottom: 4%;
      }

      .label {
        justify-content: flex-start;
      }

      .field-name {
        width: 100%;
      }
    }
  }

  .contact-detail-wrap {
    @extend .contact-name-wrap;
  }

  .btn-wrap {
    @media screen and (min-device-width: $device-min-width) {
      background-color: $simulation-color-light-blue;
      padding: 18px 0 22px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    @media screen and (max-device-width: $device-max-width) {
      padding: 4vw 0 4.5vw;
    }
  }

  .simple-simulation-estimate-btn {
    margin: 1% auto 0;
    width: 48%;
    border-radius: 50px;
    background-color: $simulation-color-yellow;
    color: $simulation-color-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 3px #d0c639;

    .image {
      width: 48px;
      font-size: 0;
      padding: 5px;
    }

    p {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 1em;
    }

    i {
      margin-right: 5%;
      margin-left: 3%;
      font-size: 36px;
      line-height: 1.2em;
    }

    &.btn-disabled {
      width: 40%;
      background-color: #f5f4f3;
      box-shadow: 0px 3px #cfccc6;

      .image {
        display: none;
      }

      p {
        margin: 15px 0 15px 40px;
      }

      i {
        margin-bottom: 1%;
        margin-left: 1%;
      }
    }
  }

  .optional {
    font-weight: 100;
    font-size: 11px;
    padding-left: 5px;
    color: #666;
  }

  .hidden-field, .img-hide {
    display: none;
  }
}
