@charset "utf-8";
/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 100% !important;
}
/* Main Content sections */
.mainContent {
	display: block;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
}
img {
	max-width: 100% !important;
}
h1 {
    margin: 0 auto;
}
.btn {
    margin-top: -13em;
}
.btn a {
	margin: 3% 0;
    display: block;
}
.btn a:hover {
	opacity: 0.7;
}
.cection1 {
    margin: 10% 0 1%;
}
.section2 {
    margin: 4% 0;
    background-color: #C8E8FE;
}
#line-buy {
    padding: 4%;
	margin-bottom: 5%;
}
.line-friends {
    margin-top: -6%;
}
.line-friends>div {
	background-color: #fff;
    padding: 4% 0 1%;
    text-align: start;
}
.kai-01>div {
	display: flex;
    margin: 0 12%;
}
.kai-01>div>label {
	width: auto;
    line-height: 25px;
    margin: 2% 6% 2% 2%;
}
.kai-01>div>img {
	width: 30%;
    height: 30%;
}
.kai-01>div>span {
    margin: 7%;
    font-size: 20px;
    line-height: 50px;
}
.kai-01>div>a {
	margin: 10% 1%;
    line-height: 10px;
}
.kai-01>div>a:hover {
	opacity: 0.7;
}
.kai-02 {
    margin-top: 5%;
}
.kai-02>div>label {
	width: auto;
    line-height: 25px;
    padding: 0 5%;
    margin: 2% 0;
}
.kai-02>div {
	margin: 0;
    line-height: 26px;
	display: flex;
}
.kai-02>div>p {
	width: auto;
    padding: 0 7%;
}
.kai-02>div>img {
	width: min-content;
    height: auto;
}

#web-buy {
    padding: 4%;
	margin-top: 4%;
}
.web-form {
    margin-top: -8%;
	text-align: start;
}
form {
	background-color: #fff;
    padding: 4% 0 1%;
}
form>div {
    margin: 2% 0;
	text-align: center;
}
.step {
	display: flex;
	margin: 4% 0 2%;
}
form>div>img {
	margin-right: 3%;
}
form>div>div {
    display: flex;
    margin: 0 7%;
    padding: 2% 0%;
}
form>div>div>p {
	margin: 0;
    line-height: 20px;
    font-size: 14px;
    text-align: start;
    padding-left: 3%;
}
form>div>div>img {
    height: min-content;
}

label {
	color: #3A3839;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
}
input {
	border: 2px solid #BCE0FD;
    width: 80%;
    height: 38px;
    font-size: 16px;
    padding: 0 2%;
    color: #707070;
    border-radius: 6px;
}
form>div>div>select {
    border: 2px solid #BCE0FD;
    width: 280px;
    height: 44px;
    margin: 0 2%;
    font-size: 16px;
    padding: 0 2%;
    color: #2699FB;
    font-family: Hiragino Kaku Gothic Pro;
}

.label {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 24px;
  margin-left: 4px;
  margin-top: -3px;
}

.button {
    width: 100%;
    margin: 3% 0;
    text-align: center;
}
button {
	border: none;
    cursor: pointer;
	background: none;
}
button:hover {
    opacity: 0.7;
}

.footer .terms {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: baseline;
    align-items: baseline;
    background-color: #0083bf;
	flex-direction: column;
    padding: 3% 5%;
    margin-top: 0;
	color: #fff;
}
.footer .terms>div:first-child, .footer .terms>div:last-child {
	width: 100%;
    font-size: 2.5vw;
}
.footer .terms>div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.footer .terms>div:last-child {
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 1%;
}
.terms>div>div {
	margin-right: 3%;
}
.footer .terms a {
    font-size: 3.5vw;
}
.footer a {
    color: #FFF;
    font-weight: 700;
}
.footer a, header .container-wrap a:hover {
    text-decoration: none;
}
