
/**
 * Global styles
 */

/**
 * Navbar
 */
.navbar {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/**
 * Sidebar
 */
.list-group.sidebar {
  margin-bottom: 20px;
  font-size: 14px;

  .list-group-item {
    padding: 10px 15px;
  }

  i {
    margin-right: 4px;
  }
}

/**
 * Tables
 */
table.small-row {
  font-size: 14px;
}

/**
 * Bootstrap list additional colors
 */
.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe;
}

.list-group-item-secondary {
  color: #464a4e;
  background-color: #dddfe2;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

.list-group-item-heading {
  color: #333;
  background-color: #f5f5f5;
}

footer {
  margin-top: 20px;
  border-top: 1px solid rgba(0,0,0,.125);

  .co-ltd {
    padding: 6px 0;
    font-size: 12px;
    text-align: center;
  }
}
