@charset "utf-8";
body {
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	background: #F6F6FB;
	text-align: center;
}

nav.navi-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 2%;
    height: auto;
}

@media screen and (min-width:480px) {
  #nav-open {
    display:none;
  }
}

#nav-drawer {
  position: relative;
  padding: 3% 0 0 3%;
}

/*チェックボックス非表示*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
	position: absolute;
	height: 4px;
	width: 22px;
	background: #50728A;
	display: block;
	content: '';
	cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*バッジデザイン*/
span[data-badge-top-right] {
    display: block;
    position: relative;
    border-radius: 6px;
    color: #fff;
	text-shadow: none;
    font-size: 12px;
  }
span[data-badge-top-right]:before {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    background-color: #C82136;
    border-radius: 50%;
    font-size: 1em;
	line-height: 20px;
    /*max-width: 28px;
	max-height: 28px;
    min-height: 24px;*/
    min-width: 24px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px #999;
  }
span[data-badge-top-right]:before {
    top: 22px;
    transform: translate(50%, -50%);
    content: attr(data-badge-top-right)"";
  }


/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: #50728A;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
/*スライダー*/
.navi-prof {
    height: 100px;
    padding: 8%;
    color: #fff;
    margin-bottom: 8%;
    border-bottom: solid 2px #fff;
}
.navi-prof>div{
	display: flex;
}
.navi-prof>div>div {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 16px;
    margin: 0 3% 0 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi-prof p.navbar-text {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}
p.navbar-text {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}
p.navbar-text>b {
	font-size: 18px;
}
span.navi-bar.post {
    font-size: 14px;
}
li.list-group-item {
    border: none;
    background: none;
}
li.list-group-item.heading {
    height: 70px;
    background-color: #00000030;
	border-top-right-radius: 0;
    border-top-left-radius: 0;
	font-weight: bold;
	display: flex;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}
.icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 16px;
    margin: 0 6% 0 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-group-item.action {
    z-index: 2;
    color: #fff;
    background-color: #50728A;
	display: flex;
    font-size: 18px;
    line-height: 50px;
	border: none;
}
.list-group-item:last-child {
	border-bottom: none;
}
.bar.first {
	border-top: solid 1px #F6F6FB;
    width: 85%;
    margin: 8% 8%;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

img.enepi-top {
    width: 24%;
    height: 24%;
    margin-left: 5%;
}
.navi-bar.brand {
    padding: 1.5%;
    width: 75%;
    color: #50728A;
    font-weight: bold;
    padding: 2% 0;
}

.main-list {
    padding: 2% 3% 8%;
}
.list-header {
    display: flex;
    height: 40px;
    line-height: 50px;
	width: 100%;
}
.main-list>div>h1 {
    font-size: 18px;
    color: #50728A;
    font-weight: bold;
    text-align: left;
	margin-left: 2%;
	line-height: 50px;
}
.list-cover {
	background-color: #fff;
    display: flex;
    height: 60px;
    line-height: 50px;
    padding: 2%;
}
a.search-bnt {
    margin: 1% 0%;
    background-color: #0086C0;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 0 #005D92;
    border: 0;
    padding: 0 2%;
    font-size: 16px;
    height: 36px;
    line-height: 40px;
    margin-left: auto;
}
a.search-bnt:hover {
    color: #fff;
    background-color: #005D92;
    box-shadow: none;
    margin-top: 4px;
	text-decoration-line: none;
}
a.search-bnt>img {
	margin-right: 10px;
}
p.search-after {
    font-size: 14px;
	font-weight: bold;
}

#open-search {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
 
.close_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}
 
.modal_window {
	left: 7%;
    top: 15%;
    width: 320px;
    text-align: center;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 10px #00000051;
    border-radius: 10px;
}
 
.modal_window a {
    font-weight: bold;
	display: block;
    width: 100%;
} 
 
/* CSS3 ModalWindow SET */
@-webkit-keyframes modalFadeIn {
    0% {opacity:0;display:block;}
    100% {opacity:1;}
}
 
div#modal div:target {
    -webkit-animation-name: modalFadeIn; 
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    display:block;
}

/* モーダルウィンドウ */
.get-company {
	padding: 20px;
	border-bottom: 1px solid #70707031;
}
.get-company>div {
	margin-bottom: 10px;
}
.get-company>div>div {
	display: flex;
}
.get-company>div>div:first-child {
	margin-bottom: 0;
}
.get-company p {
    font-size: 16px;
    font-weight: bold;
    color: #50728A;
    margin-bottom: 0;
    text-align: start;
    line-height: normal;
}

.get-company label {
    display: block;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: normal;
}
.get-company label input[type=checkbox] {
  margin-right:10px
}
.get-company label:last-child {
	margin-right: 0;
}
.get-company>div>select {
	border-radius: 8px;
    border: 1px solid #BAC4CD;
    box-shadow: 0px 4px 0px #BAC4CD;
    padding: 0;
    font-size: 15px;
    background-color: #F6F6FB;
    height: 45px;
    width: 100%;
}
.calendar>select {
	border-radius: 8px;
    border: 1px solid #BAC4CD;
    box-shadow: 0px 4px 0px #BAC4CD;
    padding: 0;
    font-size: 15px;
    background-color: #F6F6FB;
    height: 45px;
    width: 100%;
}
.get-company>div>select:hover {
	opacity: 0.75;
}
.get-company>div>span {
    margin: 0 5px;
    font-weight: bold;
}
input#word {
    border: 2px solid #BAC4CD;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    padding: 0 8px;
}

/* 送信ボタン */
.get-company input[type=submit] {
  	outline: none;
    border: none;
    color: #fff;
    background-color: #0086C0;
    line-height: 48px;
    height: 60px;
    width: 80%;
    margin: 10px 0 0;
	box-shadow: 0 4px 0 #005D92;
    border-radius: 10px;
    text-align: center; 
	font-size: 20px;
    font-weight: bold;
}

/* 送信ボタン（マウスオーバー） */
.get-company input[type=submit]:hover {
    color: #fff;
    background-color: #005D92;
    box-shadow: none;
    margin-top: 14px;
	box-shadow: none;
	text-decoration-line: none;
	margin-bottom: -4px;
}

button.dl-btn {
    background-color: #45996C;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 4px #006B56;
    height: 46px;
    color: #fff;
    font-weight: bold;
    padding: 0 1.2%;
	margin-left: auto;
}
button.dl-btn>img {
	margin-right: 10px;
}
button.dl-btn:hover {
    color: #fff;
    background-color: #006B56;
    box-shadow: none;
    margin-top: 4px;
}

table.brwsr {
    width: 100%;
    border: none;
    /*border-collapse: separate;*/
    border-spacing: 0 10px;
    background: #fff;
    box-shadow: 1px 1px 10px #0000002e;
}

table.brwsr th {
	vertical-align: middle;
    height: 50px;
    width: 70px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    border-right: 1px solid #ddd;
    background: linear-gradient(#F6F6FB , #fff , #BAC4CD);
    text-shadow: 0px 1px 0px #fff;
}
table.brwsr th:last-child {
	border-right: none;
}
table.brwsr th.memo {
    background: linear-gradient(#fff,#fff);
}
span.red-limit {
    font-weight: bold;
    color: #C82136;
    text-decoration-line: underline;
    background-color: #FDF0F1;
    padding: 10%;
	cursor: pointer;
}
span.blue-limit {
    font-weight: bold;
    color: #0086C0;
    text-decoration-line: underline;
	cursor: pointer;
}
table.brwsr td.case {
	padding: 0;
    margin: 0;
    height: 90px;
    min-width: 60px;
    max-width: 70px;
    border-right: 1px solid #F6F6FB;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
table.brwsr td.case:last-child {
	border-right: none;
	display: inline-block;
}
#memo-write {
    box-shadow: 0px 0px 5px 1px #00000021 inset;
    background-color: #fff;
    border-radius: 4px;
    height: auto;
    border: none;
    width: 100%;
	padding: 10px 5px;
}

span.gas-icon {
    display: block;
    margin-top: 5px;
	font-weight: bold;
}

table.brwsr td.case.m1, .m2, .m3, .m4, .m5, .m6 {
    color: #C82136;
    font-weight: bold;
	/*display: table-caption;*/
}
span.mt-icon {
    line-height: 50px;
    height: 40px;
}
span.mt-icon>img {
	max-width: 70px;
}

/*ボタン装飾*/
.case-active {
	font-weight: bold;
    cursor: pointer;
    background-color: #F6F6FB;
}
td>label {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0;
	width: -webkit-fill-available;
    box-shadow: 0 3px #BAC4CD;
    border: solid 2px #BAC4CD;

}
.case-active:hover {
	background-color: #fff;
}

/*チェックは見えなくする*/
.case-active input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
	display: flex;
    background-color: #fff;
}

/*クリックで中身表示*/
.case-active input:checked ~ .hidden_show {
    height: auto;
    opacity: 1;
}


.memo {
    width: 50%;
    text-align: start;
    font-size: 14px;
    border-right: 2px solid #F6F6FB;
	line-height: 18px;
}
.memo>p {
	font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid #F6F6FB;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

.case>select {
    border-radius: 6px;
    border: 2px solid #95BED7;
    box-shadow: 0px 3px 0px #95BED7;
    padding: 8px 4px;
    margin: 6px;
    font-size: 15px;
	width: 65px;
}
select.select-red {
    color: #C82136;
    font-weight: bold;
}
.case>select>option.select-red {
    font-weight: bold;
    color: #C82136;
}
.intro {
	font-size: 15px;
    color: #50728A;
    font-weight: bold;
}

table.brwsr td:fst-child {
	padding: 0 0 0 10px;
	vertical-align: middle;
}

table.brwsr td.bar {
	border-top: solid 1px #F6F6FB;
}
table.brwsr td.bar.first {
	border-top: solid 2px #F6F6FB;
}
tr.done {
    background-color: #00000011;
}
tr.limit {
    background-color: #FDF0F1;
}



.footer {
    margin: auto;
}